@media (max-width: 811px ){
	div.banner h2{
		-webkit-transform: rotate(-90deg);
		margin-bottom: 88px;
		margin-left: -30px;
	}
}

body{
	font-size: 16px;
}

div.banner{
	background-color: #DF691A;
	position: fixed;
	height: 100%;
	margin: 0px;
	vertical-align: top;
	width: 20%;
}
div.banner h2{
	font-size: 4em;
	position: absolute;
	bottom: 0;
}

div.container{
	height: 100%;
	margin: 0px;
	vertical-align: top;
	margin-left: 20%;
	padding: 0px;
	width: 80%;
}
div.container div.cart_shop{
	margin: 1em;
}
div.container div.cart_shop div{
	display: inline-block;
	vertical-align: top;
}

div.container div.item_row{
	border: solid 1px white;
	display: inline-block;
	cursor: pointer;
	margin: 1em;
	text-align: center;
	vertical-align: top;
	width: 25%;
}

div.container nav.navbar{
	padding: 0.5em 1em;
}


img.icon_item{
	width: 200px;
	height: 200px;
}

/*
Bootstrap rewritte
*/
.form-group{
	margin-bottom: 0px;
}