@media (max-width: 811px ){
	div.banner h2{
		-webkit-transform: rotate(-90deg);
		margin-bottom: 88px;
		margin-left: -30px;
	}
}

body{
	font-size: 16px;
}

div.banner{
	background-color: #DF691A;
	position: fixed;
	height: 100%;
	margin: 0px;
	margin-left: -20%;
	transition: all 2s;
	vertical-align: top;
	width: 20%;
}
div.banner div.banner-categories{
	margin-left: 0.8em;
	margin-top: 2em;
}
div.banner div.banner-categories h4{
	cursor: pointer;
}
div.banner h2{
	font-size: 4em;
	position: absolute;
	bottom: 0;
}

div.container{
	height: 100%;
	margin: 0px;
	vertical-align: top;
	padding: 0px;
	transition: all 2s;
	width: 100%;
}

div.container div.cart_shop{
	margin: 1em;
}
div.container div.cart_shop div{
	display: inline-block;
	vertical-align: top;
}

div.container div.div_center{
	text-align: center;
}

div.container div.item_image{
	display: inline-block;
	vertical-align: top;
	margin: 1em;
}

div.container div.item_row{
	display: inline-block;
	cursor: pointer;
	margin: 1em;
	text-align: center;
	vertical-align: top;
	width: 25%;
}

div.container nav.navbar{
	padding: 0.5em 1em;
}
div.container nav.navbar div{
	display: inline-block;
	vertical-align: middle;	
}
div.container nav.navbar div.container-fluid{
	width: 92%;
}
div.container nav.navbar div.container-fluid div{
	display: block;
}

img.icon_item{
	border-radius: 50px;
	width: 200px;
	height: 200px;
}

div.lightbox{
	background-color: rgba(255,255,255,0.5);
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 99;
}
div.lightbox div.lightbox-container{
	margin: 0 auto;
	margin-top: 10%;
	width: 30%;
}
div.lightbox div.lightbox-container div.panel-body{
	text-align: center;
}
div.lightbox div.lightbox-container div.panel-body button{
	border: solid 2px white; 
}
div.lightbox div.lightbox-container div.panel-body div{
	margin: 1em;
}

/*
Bootstrap rewritte
*/
.form-group{
	margin-bottom: 0px;
}

div.container div.cart_shop div.form-group{
	display: block;
	margin: 1em;
}